@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        width: 95%;
        padding: 40px 20px;
        margin: auto;
        font: 15px/1.3em "Lexend Deca";
    }
    .container {
        height: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        margin-bottom: 80px;

    }
.container div {
    height: 400px;
    padding: 30px;
}
p {
    margin-bottom: 40px;
    color: white;
}
img {
    margin-bottom: 30px;
}   
.one {
    background-color: hsl(31, 77%, 52%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.two {
    background-color: hsl(184, 100%, 22%);
}
.three {
    background-color: hsl(179, 100%, 13%);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
button {
    height: 35px;
    width: 90px;
    border-radius: 50px;
    cursor: pointer;
    background-color: white;
}

button {
    border: 2px solid white;
}

#first {
    color: hsl(31, 77%, 52%);
}
#second {
    color:hsl(184, 100%, 22%)
}
#third {
    color:hsl(179, 100%, 13%)
}
#first:hover {
    background-color:  hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
}
#second:hover {
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
}
#third:hover {
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
}
.first {
    font: 25px "Big Shoulders Display";
}


@media screen and (min-device-width: 1024px) {
    .container {
        width: 70%;
        height: 500px;
        flex-direction: row;
        margin: auto;  
          
    }
    .one {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
    }
    .three {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
    .first {
        font: 40px "Big Shoulders Display";
    }
    
}